# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
accuracy_resample/mvp_hawaii_confidence/
accuracy_resample/mvp_heron_confidence/
accuracy_resample/mvp_karimunjawa_confidence/
accuracy_resample/mvp_lighthouse_confidence/
accuracy_resample/mvp_moorea_confidence/
accuracy_resample/Heron_Benthic_int_ML.xlsx
variable_importance/cairns-cook_geomorphic_variable-plot.pdf
accuracy_resample/Heron_Benthic_int.csv
variable_importance/cairns-cook_geomorphic_object_sample.csv
